@import url('base.css');

:root {
    --theme-mode: 'dark';
}

.reveal {
    background-image: url('../bg/d-concrete.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.subtle { 
    color: #A9A9A9; 
}

.bg-shade { 
    color: #494949; 
}