@import url('base.css');

:root {
    --theme-mode: 'light';
}

.reveal {
    background-image: url('../bg/l-canvas.jpg');
    background-size: cover;
    color: #0D0D0D;
}

.subtle { 
    color: #666666; 
}

.bg-shade { 
    color: #E6E6E6; 
}