@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    src: url('woff2/concourse_ot_2_thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 200;
    src: url('woff2/concourse_ot_2_thin_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('woff2/concourse_ot_3_book.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    src: url('woff2/concourse_ot_3_book_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/concourse_ot_4_medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/concourse_ot_4_medium_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    src: url('woff2/concourse_ot_6_semibold.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 600;
    src: url('woff2/concourse_ot_6_semibold_italic.woff2') format('woff2');
}
/*@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/concourse_ot_7_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/concourse_ot_7_bold_italic.woff2') format('woff2');
}
/*@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    src: url('woff2/concourse_ot_8_black.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    src: url('woff2/concourse_ot_8_black_italic.woff2') format('woff2');
}*/
@font-face {
    font-family: 'Equity';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/equity_ot_b_regular.woff2') format('woff2');    
}
@font-face {
    font-family: 'Equity';
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/equity_ot_b_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Equity';
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/equity_ot_b_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Equity';
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/equity_ot_b_bold_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: normal;
    font-weight: 400;
    src: url('woff2/century_supra_ot_b_regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: italic;
    font-weight: 400;
    src: url('woff2/century_supra_ot_b_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: normal;
    font-weight: 700;
    src: url('woff2/century_supra_ot_b_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: italic;
    font-weight: 700;
    src: url('woff2/century_supra_ot_b_bold_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('woff2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    src: url('woff2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: url('woff2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src: url('woff2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
}
