@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    src: url('woff2/concourse_ot_2_thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 200;
    src: url('woff2/concourse_ot_2_thin_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('woff2/concourse_ot_3_book.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    src: url('woff2/concourse_ot_3_book_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/concourse_ot_4_medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/concourse_ot_4_medium_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    src: url('woff2/concourse_ot_6_semibold.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 600;
    src: url('woff2/concourse_ot_6_semibold_italic.woff2') format('woff2');
}
/*@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/concourse_ot_7_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/concourse_ot_7_bold_italic.woff2') format('woff2');
}
/*@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    src: url('woff2/concourse_ot_8_black.woff2') format('woff2');
}
@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    src: url('woff2/concourse_ot_8_black_italic.woff2') format('woff2');
}*/
@font-face {
    font-family: 'Concourse Index';
    font-style: normal;
    font-variant: normal;
    src: url('woff2/concourse_index_regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Equity';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/equity_ot_b_regular.woff2') format('woff2');    
}
@font-face {
    font-family: 'Equity';
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    src: url('woff2/equity_ot_b_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Equity';
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/equity_ot_b_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Equity';
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    src: url('woff2/equity_ot_b_bold_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: normal;
    font-weight: 400;
    src: url('woff2/century_supra_ot_b_regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: italic;
    font-weight: 400;
    src: url('woff2/century_supra_ot_b_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: normal;
    font-weight: 700;
    src: url('woff2/century_supra_ot_b_bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Century Supra';
    font-style: italic;
    font-weight: 700;
    src: url('woff2/century_supra_ot_b_bold_italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 200;
    src: url('woff2/AtkinsonHyperlegibleNext-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 200;
    src: url('woff2/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 300;
    src: url('woff2/AtkinsonHyperlegibleNext-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 300;
    src: url('woff2/AtkinsonHyperlegibleNext-LightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('woff2/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    src: url('woff2/AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 500;
    src: url('woff2/AtkinsonHyperlegibleNext-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 500;
    src: url('woff2/AtkinsonHyperlegibleNext-MediumItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 600;
    src: url('woff2/AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 600;
    src: url('woff2/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: url('woff2/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src: url('woff2/AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 800;
    src: url('woff2/AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 800;
    src: url('woff2/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: url('woff2/JetBrainsMono-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100;
    src: url('woff2/JetBrainsMono-ThinItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    src: url('woff2/JetBrainsMono-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 200;
    src: url('woff2/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: url('woff2/JetBrainsMono-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 300;
    src: url('woff2/JetBrainsMono-LightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('woff2/JetBrainsMono-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: url('woff2/JetBrainsMono-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url('woff2/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    src: url('woff2/JetBrainsMono-MediumItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: url('woff2/JetBrainsMono-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    src: url('woff2/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('woff2/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    src: url('woff2/JetBrainsMono-BoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: url('woff2/JetBrainsMono-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    src: url('woff2/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
}