:root {
    --r-font-color: rgba(var(--light-primary-r), var(--light-primary-g), var(--light-primary-b), 1);
    --r-border-color: rgba(var(--light-primary-r), var(--light-primary-g), var(--light-primary-b), 0.25);
    --r-subtle-color: rgba(var(--light-primary-r), var(--light-primary-g), var(--light-primary-b), 0.5);
    --r-link-color: var(--r-light-link-color);
}