@import url('base.css');

:root {
    --theme-mode: 'dark';
    --r-font-color: #FFFFFF;
}

.reveal {
    background-color: #282828;
    color: var(--r-font-color);
}

.subtle { 
    color: #A9A9A9; 
}

.bg-shade { 
    color: #494949; 
}