@import url('base.css');

:root {
    --theme-mode: 'dark';
    --r-font-color: #FFFFFF;
}

.reveal {
    background-image: url('bg/d-texture.jpg');
    background-size: cover;
    color: var(--r-font-color);
}


.subtle { 
    color: #ffffff80; 
}

.bg-shade { 
    color: #494949; 
}

.reveal {
    font-weight: 300 !important;
}

li::marker {
    color: #ffffff40
  }

h2, h3 {
    font-family: 'Equity', serif !important;
    font-variant: small-caps !important;
    font-weight: 300 !important;
    text-transform: none !important;
    text-align: left !important;    
    border-bottom: 2.35px solid #ffffff40 !important;
}

h1, .pres-title {
    font-family: 'Equity', serif !important;
    font-variant: small-caps !important;
    font-weight: 300 !important;
}