@import url('base.css');
@import url('light.css');

:root {
    --r-main-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-heading-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-heading-bold-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-serif-font: 'Atkinson Hyperlegible', serif !important;
}

.reveal {
    background-color: #EDD1B0;
}

h1, h2, h3, .pres-title {
    font-weight: 600 !important;
    font-variant: normal !important;
}