@import url('base.css');
@import url('light.css');

:root {
    --r-main-font: 'Indoor Kid', sans-serif !important;
    --r-heading-font: 'Indoor Kid', sans-serif !important;
    --r-heading-bold-font: 'Indoor Kid', sans-serif !important;
    --r-serif-font: 'Indoor Kid', serif !important;
}

.reveal {
    background-color: #F2F2EA;
    background-image: url('bg/l-plaster.jpg');
    background-size: cover;
}
