@import url('base.css');

:root {
    --theme-mode: 'light';
    --r-main-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-heading-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-heading-bold-font: 'Atkinson Hyperlegible', sans-serif !important;
    --r-font-color: #0D0D0D;
}

.reveal {
    background-color: #EDD1B0;
    color: var(--r-font-color);
}

.subtle { 
    color: #0D0D0D80; 
}

.bg-shade { 
    color: #E6E6E6; 
}

li::marker {
    color: #0D0D0D40;
}

