@import url('base.css');

:root {
    --theme-mode: 'light';
    --r-font-color: #0D0D0D;
}

.reveal {
    background-image: url('bg/bglight.png');
    background-size: cover;
    color: var(--r-font-color);
}

.subtle { 
    color: #666666; 
}

.bg-shade { 
    color: #E6E6E6; 
}