@import url('base.css');
@import url('light.css');

.reveal {
    background-color: #F2F2EA;
    font-family: 'Concourse', sans-serif !important;
    font-feature-settings: "ss01" 0;
}

h1, h2, h3, .pres-title {
    font-family: 'Concourse', sans-serif !important;
    font-feature-settings: "ss01" 0;
}