@import url('base.css');
@import url('dark.css');

.reveal {
    background-color: #183153;
    background-image: url('bg/d-colours.jpg');
    background-size: cover;
    font-family: 'Concourse', sans-serif !important;
    font-feature-settings: "ss01" 0;
}

h1, h2, h3, .pres-title {
    font-family: 'Concourse', sans-serif !important;
    font-feature-settings: "ss01" 0;
}